body {
    /* background-image: url("./assets/background-image-body.jpg"); */
    text-shadow: 0px 1px;
    margin: 200px;
}
.complete {
    text-decoration: line-through;
    color: green;
}
h1 {
    color: lawngreen;
}
#app {
    display: flex;
    justify-content: space-around;
    margin: 200px;
}
ol {
    width: 600px;
    background-color: lavender;
}